# Introducción

**SQL** (Structured Query Language) o Lenguaje de Consulta Estructurada en español, es un lenguaje específico de dominio (DSL) diseñado para gestionar y recuperar información en sistemas de gestión de bases de datos relacionales (SGBDR). Es uno de los lenguajes más utilizados en el ámbito de la informática para interactuar con bases de datos.

Los Ingenieros Industriales pueden utilizar SQL para una amplia gama de tareas, incluyendo:
* **Análisis de datos**: SQL permite a los ingenieros industriales extraer, limpiar y analizar datos de diversas fuentes, como sistemas de producción, inventarios y registros de clientes. Esto les permite identificar tendencias, patrones y anomalías que pueden ser utilizadas para mejorar la eficiencia y la toma de decisiones.
* **Optimización de procesos**: SQL puede ser utilizado para identificar cuellos de botella en los procesos de producción y para desarrollar soluciones que mejoren la eficiencia y la productividad.
* **Control de calidad**: SQL puede ser utilizado para monitorizar la calidad de los productos y para identificar los defectos que necesitan ser corregidos.
* **Toma de decisiones**: SQL puede ser utilizado para generar informes y cuadros de mando que ayuden a los ingenieros industriales a tomar mejores decisiones sobre la producción, la logística y la gestión de la cadena de suministro.

Existen diversas librerías que te permiten trabajar con SQL en Google Colab, cada una con sus propias características y ventajas. A continuación, te presento algunas de las más populares:

1. **ipykernel**:
Es un kernel de Jupyter que permite ejecutar código SQL directamente en Colab.
Ofrece una integración perfecta con el entorno de Jupyter, lo que facilita la visualización y el análisis de datos.
Es compatible con una amplia gama de bases de datos, incluyendo MySQL, PostgreSQL y SQLite.
2. **SQLAlchemy**:
Es una biblioteca de Python para el manejo de bases de datos relacionales.
Proporciona una interfaz de alto nivel que simplifica la interacción con las bases de datos.
Es compatible con una amplia gama de motores de bases de datos, incluyendo MySQL, PostgreSQL, SQLite y Oracle.
3. **Psycopg2**:
Es un adaptador de Python para la base de datos PostgreSQL.
Ofrece un rendimiento rápido y una amplia gama de funciones para trabajar con PostgreSQL.
Es fácil de usar e instalar.
4. **cx_Oracle**:
Es un adaptador de Python para la base de datos Oracle.
Permite ejecutar consultas SQL y manipular datos en bases de datos Oracle.
Es compatible con una amplia gama de versiones de Oracle.
5. **PyMySQL**:
Es un adaptador de Python para la base de datos MySQL.
Proporciona una interfaz sencilla para interactuar con bases de datos MySQL.
Es fácil de instalar y usar.

https://www.edx.org/learn/sql

In [1]:
import sqlite3

MySQL necesita conexiones e instalaciones; el benchmark es el mejor de todos los "Queries". La ventaja de trabajar con sqlite, es que podemos crear bases de datos por default; mientras que en MySQL es necesario crear la base de datos.

**Vamos a crear una base de datos**

Nuestra base de datos consistirá de libros.

In [2]:
# Para crear la base de datos, es necesario conectar con el servidor de SQL.

con = sqlite3.connect("libros_db.sqlite")

Ahora, vamos a diseñar nuestra **tabla**:

In [3]:
# Creamos un cursor

cursor = con.cursor()

# Aqui vamos a ejecutar los datos necesarios para ejecutar la tabla

cursor.execute('''
CREATE TABLE libros (
      id INTEGER PRIMARY KEY,
      titulo TEXT NOT NULL,
      autor TEXT NO NULL,
      año INTEGER
)

''')

In [4]:
libros_datos = [ ("Harry Potter", "Rowling", 1997),
                 ("The Hobbit", "Tolkien", 1937),
                 ("Diario de Greg", "Kinney", 2007),
                 ("Duna", "Herbert", 1965)]

cursor.executemany("""
INSERT INTO libros (titulo, autor, año) VALUES (?,?,?)""", libros_datos)
con.commit()

In [6]:
cursor.execute("SELECT * FROM libros")
libros = cursor.fetchall()
for libro in libros:
  print(libros)

[(1, 'Harry Potter', 'Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Diario de Greg', 'Kinney', 2007), (4, 'Duna', 'Herbert', 1965)]
[(1, 'Harry Potter', 'Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Diario de Greg', 'Kinney', 2007), (4, 'Duna', 'Herbert', 1965)]
[(1, 'Harry Potter', 'Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Diario de Greg', 'Kinney', 2007), (4, 'Duna', 'Herbert', 1965)]
[(1, 'Harry Potter', 'Rowling', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Diario de Greg', 'Kinney', 2007), (4, 'Duna', 'Herbert', 1965)]